 body{
    font-family: Arial;
    background: #11574A;
}
  
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: Arial;
    padding: 12px;
    background-color: #FFF;
    border: 2px solid black;
   
    box-shadow: 0 0 5px 3px #999;   
    
}
.info{
    font-family: Arial;
    font-size: 140px;
}


  
  